<mat-nav-list>

  <div *ngFor="let item of resources">
    <a mat-list-item *ngIf="!item.divider"
       [routerLink]="item.url"
       (click)="onClose()"
       routerLinkActive="active">
      <mat-icon matListIcon>{{item.icon}}</mat-icon>
      <h3 matLine>{{item.title}}</h3>
    </a>

    <mat-divider *ngIf="item.divider"></mat-divider>
  </div>


  <ng-content></ng-content>

</mat-nav-list>
