.container {

  display: flex;
  flex-direction: column;
  margin: 20px;

}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-top: 8px;
}

.container-search {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-search {
  width: 70%;
  max-width: 650px;
  align-self: center;
  justify-content: space-between;
}

.container-search-action {
  display: flex;
  flex-direction: row;
  width: 70%;
  max-width: 650px;
  justify-content: flex-end;
}


mat-action-row {
  justify-content: center;
}

mat-card {
  width: 100%;
  padding: 0px;
}

table {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
