<div class="container">

  <mat-card>

    <mat-toolbar>
      <span>Eventos</span>
      <span class="spacer"></span>
      Atualizar:
      <button mat-icon-button (click)="refresh()">
        <mat-icon>refresh</mat-icon>
      </button>
    </mat-toolbar>

    <mat-progress-bar mode="indeterminate" *ngIf="configs.inLoadingResults"></mat-progress-bar>

    <mat-expansion-panel #filterPanel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Filtros
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="container-search">

        <form novalidate [formGroup]="searchForm" class="form-search">

          <div style="display: flex; flex-direction: row">
            <mat-form-field style="width: 100%">
              <input matInput placeholder="Evento" [value]="configs.search.event?.name" readonly>
              <mat-icon matSuffix (click)="eventSearch()" class="cursor">search</mat-icon>
              <mat-icon matSuffix (click)="eventReset()" *ngIf="configs.search.event" class="cursor">clear</mat-icon>
            </mat-form-field>
          </div>

          <div style="display: flex; flex-direction: row">
            <mat-form-field style="width: 100%">
              <input matInput placeholder="Rule" [value]="configs.search.rule?.name" readonly>
              <mat-icon matSuffix (click)="ruleSearch()" class="cursor">search</mat-icon>
              <mat-icon matSuffix (click)="ruleReset()" *ngIf="configs.search.rule" class="cursor">clear</mat-icon>
            </mat-form-field>
          </div>

        </form>

      </div>

      <mat-action-row>
        <div class="container-search-action">
          <button mat-button (click)="reset()" style="margin-right: 10px">Limpar</button>
          <button mat-raised-button color="primary"
                  (click)="search()"
                  [disabled]="searchForm.invalid">Pesquisar</button>
        </div>
      </mat-action-row>

    </mat-expansion-panel>

    <div class="filter-result-container">
      <mat-form-field floatPlaceholder="never" color="accent">
        <input matInput #filter (keyup)="applyFilter($event.target.value)" placeholder="Descrição" autocomplete="off">
      </mat-form-field>
    </div>

    <table mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
        <td mat-cell *matCellDef="let row">
          {{row.name}}
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Descrição</th>
        <td mat-cell *matCellDef="let row">
          {{row.description}}
        </td>
      </ng-container>

      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ativo</th>
        <td mat-cell *matCellDef="let row">
          {{row.state === 'ENABLED' ? 'Sim' : 'Não'}}
        </td>
      </ng-container>

      <!-- actions -->
      <ng-container matColumnDef="actions">

        <th mat-header-cell *matHeaderCellDef style="width: 5px; justify-content: flex-end;">
          <button mat-icon-button (click)="add()">
            <mat-icon aria-label="novo">add</mat-icon>
          </button>
        </th>

        <td mat-cell *matCellDef="let row; let i=index;">
          <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon aria-label="mais">more_vert</mat-icon>
          </button>

          <mat-menu #appMenu="matMenu">
            <button mat-menu-item (click)="edit(row)">
              <mat-icon aria-label="Edit">edit</mat-icon>
              Alterar
            </button>

            <button mat-menu-item (click)="delete(row)" >
              <mat-icon aria-label="Delete">delete</mat-icon>
              Excluir
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row class="element-row" *matRowDef="let row; columns: displayedColumns;"
          (dblclick)="edit(row)"></tr>
    </table>

    <mat-paginator #paginator
                   [pageIndex]="configs.pageable.pageIndex"
                   [pageSize]="configs.pageable.pageSize"
                   [pageSizeOptions]="[20, 30, 40, 50, 60, 80, 100]"
                   [showFirstLastButtons]="true"></mat-paginator>

    <app-no-record [style.display]="!configs.inLoadingResults && configs.resultsLength == 0 ? '' : 'none'"
                   title="Nenhum evento encontrado.">
    </app-no-record>

  </mat-card>
</div>
