<mat-card-title>
  <mat-toolbar color="#ccc" class="mat-toolbar">
    <span>{{data.title}}</span>
    <span class="spacer"></span>
    <mat-spinner
      [diameter]="25"
      [strokeWidth]="2"
      *ngIf="configs.isSaving || configs.inLoading"></mat-spinner>
  </mat-toolbar>
</mat-card-title>

<mat-dialog-content>
  <form [formGroup]="changePasswordForm" >
    <mat-form-field *ngIf="data.usuario">
      <input matInput type="text" placeholder="Usuário" [disabled]="true" [value]="data.usuario?.name">
    </mat-form-field>
    <mat-form-field *ngIf="!data.usuario">
      <input matInput type="password" placeholder="Senha atual"  autocomplete="false" formControlName="password">
      <mat-error *ngIf="changePasswordForm.get('password').hasError('required')">Senha atual obrigatória</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Nova senha"  autocomplete="false" formControlName="newPassword"
             [type]="configs.hidePassword ? 'password' : 'text'">
      <mat-icon matSuffix (click)="configs.hidePassword = !configs.hidePassword">{{configs.hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error *ngIf="changePasswordForm.get('newPassword').hasError('required')">Senha obrigatória</mat-error>
      <mat-error *ngIf="changePasswordForm.get('newPassword').hasError('minlength')">A senha dever ter no mínimo 6 caracteres</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Confirme a senha"  autocomplete="false"
             [type]="configs.hidePassword ? 'password' : 'text'" formControlName="confirm_newPassword" (blur)="onValidatePassword()">
      <mat-error *ngIf="changePasswordForm.get('confirm_newPassword').hasError('confirm_password')">As senhas não conferem</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions style="justify-content: flex-end">
  <button mat-button mat-dialog-close (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="onSubimit()"  [disabled]="changePasswordForm.invalid || configs.isSaving">Salvar</button>
</mat-dialog-actions>
