.container {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*
h3, mat-icon {
  color: #ccc;
}
*/

mat-icon {
  width: 150px;
  height: 150px;
  font-size: 150px;
}


.no-results {
  display: flex;
  justify-content: center;
  padding: 14px;
  font-size: 14px;
  font-style: italic;
}
