mat-dialog-content {
  width: 550px;
  height: 400px;
}

table {
  width: 100%;
}

.table-scroll {
  height: 320px;
  overflow: auto;
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-top: 8px;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 10px;

}
