<mat-card-title>
  <div class="container-detail-toolbar">
    <mat-toolbar>
      <span>Regras</span>
    </mat-toolbar>
    <mat-progress-bar class="dialog-detail-progressbar" mode="indeterminate" *ngIf="configs.inLoading"></mat-progress-bar>
  </div>
</mat-card-title>

<mat-dialog-content>
  <form #form="ngForm">
    <div class="container">

      <div class="container-row" style="align-items: baseline;">
        <mat-form-field floatPlaceholder="never" color="accent" style="width: 100%;">
          <input matInput  [formControl]="filter" placeholder="Nome / Descrição" autocomplete="off">
        </mat-form-field>
      </div>

      <div class="table-scroll">
        <table mat-table #table matSort [dataSource]="dataSource" class="mat-cell" disabled="true">

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
            <td mat-cell *matCellDef="let row">{{ row.name }}</td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Descricao</th>
            <td mat-cell *matCellDef="let row">{{ row.description}}</td>
          </ng-container>


          <ng-container matColumnDef="actions">

            <th mat-header-cell *matHeaderCellDef style="width: 5px; justify-content: flex-end;">

            </th>

            <td mat-cell *matCellDef="let row; let i=index;">

            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row" [class.selected-row]="rule && rule.id==row.id"
              (click)="select(row)" (dblclick)="onSelected(row)"></tr>

        </table>
      </div>

      <app-no-record *ngIf="configs.resultSearch && dataSource.data.length == 0" title="Nenhuma regra encontrada!"></app-no-record>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions style="justify-content: flex-end">
  <button mat-button mat-dialog-close (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSelected()"
          [disabled]="form.invalid || configs.inLoading || rule == null || dataSource.data.length == 0">
    Selecionar</button>
</mat-dialog-actions>
