<mat-toolbar color="primary" class="mat-elevation-z1 mat-toolbar">
  <mat-toolbar-row>

    <button mat-icon-button (click)="sidenav.toggle()" >
      <mat-icon>menu</mat-icon>
    </button>

    <h1>{{title.getTitle()}} v{{configService.versao}}</h1>

    <span class="spacer"></span>

    <div>
    <button mat-button [matMenuTriggerFor]="appMenu">
      {{ user ? user.name : ''}}
    </button>

    <mat-menu #appMenu="matMenu">
      <button mat-menu-item (click)="changePassword()">
        <mat-icon matListIcon>perm_identity</mat-icon>
        Alterar senha
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="onLogout()">
        <mat-icon>input</mat-icon>
        Logout
      </button>
    </mat-menu>
    </div>

    <!--<button mat-icon-button (click)="onLogout()" >
      <mat-icon>input</mat-icon>
    </button>-->

  </mat-toolbar-row>

</mat-toolbar>
