<mat-card-title>
  <div class="container-detail-toolbar">
    <mat-toolbar>
      <span>{{data.title || 'Alterar Senha'}}</span>
    </mat-toolbar>
    <mat-progress-bar class="dialog-detail-progressbar"
                      mode="indeterminate"
                      *ngIf="configs.inSaving">
    </mat-progress-bar>
  </div>
</mat-card-title>

<mat-dialog-content>
  <form [formGroup]="changePasswordForm" >
    <div class="container">
      <mat-form-field *ngIf="data.user">
        <input matInput type="text" placeholder="Username" readonly [value]="data.user?.username">
      </mat-form-field>
      <mat-form-field *ngIf="!data.user">
        <input matInput type="password" placeholder="Senha atual"  autocomplete="false" formControlName="password">
        <mat-error *ngIf="changePasswordForm.get('password').hasError('required')">Senha atual obrigatória</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Nova senha"  autocomplete="false" formControlName="newPassword"
               [type]="configs.hidePassword ? 'password' : 'text'">
        <mat-icon matSuffix (click)="configs.hidePassword = !configs.hidePassword">{{configs.hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf="changePasswordForm.get('newPassword').hasError('required')">Senha obrigatória</mat-error>
        <mat-error *ngIf="changePasswordForm.get('newPassword').hasError('minlength')">A senha dever ter no mínimo 6 caracteres</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Confirme a senha"  autocomplete="false"
               [type]="configs.hidePassword ? 'password' : 'text'" formControlName="confirmNewPassword" (blur)="onValidatePassword()">
        <mat-error *ngIf="changePasswordForm.get('confirmNewPassword').hasError('confirmPassword')">As senhas não conferem</mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions style="justify-content: flex-end">
  <button mat-button mat-dialog-close (click)="onNoClick()">Cancelar</button>
  <button mat-button color="primary"
          (click)="onSubimit()"
          [disabled]="changePasswordForm.invalid || configs.inSaving">Salvar</button>
</mat-dialog-actions>
