<div class="container">

  <mat-card>

    <mat-toolbar>
      <span>Componentes</span>
      <span class="spacer"></span>
      Atualizar:
      <button mat-icon-button (click)="refresh()">
        <mat-icon>refresh</mat-icon>
      </button>
    </mat-toolbar>

    <mat-progress-bar mode="indeterminate" *ngIf="configs.inLoadingResults"></mat-progress-bar>

    <div class="filter-result-container">
      <mat-form-field floatPlaceholder="never" color="accent">
        <input matInput #filter (keyup)="applyFilter($event.target.value)" placeholder="Descrição" autocomplete="off">
      </mat-form-field>
    </div>

    <table mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
        <td mat-cell *matCellDef="let row">
          {{row.name}}
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Descrição</th>
        <td mat-cell *matCellDef="let row">
          {{row.description}}
        </td>
      </ng-container>

      <ng-container matColumnDef="enabled">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ativo</th>
        <td mat-cell *matCellDef="let row">
          {{row.enabled ? 'Sim' : 'Não'}}
        </td>
      </ng-container>

      <!-- actions -->
      <ng-container matColumnDef="actions">

        <th mat-header-cell *matHeaderCellDef style="width: 5px; justify-content: flex-end;">
          <button mat-icon-button (click)="add()">
            <mat-icon aria-label="novo">add</mat-icon>
          </button>
        </th>

        <td mat-cell *matCellDef="let row; let i=index;">

          <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon aria-label="mais">more_vert</mat-icon>
          </button>

          <mat-menu #appMenu="matMenu">
            <button mat-menu-item (click)="edit(row)">
              <mat-icon aria-label="Edit">edit</mat-icon>
              Alterar
            </button>

            <button mat-menu-item (click)="delete(row)" >
              <mat-icon aria-label="Delete">delete</mat-icon>
              Excluir
            </button>

            <mat-divider></mat-divider>
            <button mat-menu-item (click)="resetToken(row)">
              Reset de token
            </button>
            <button mat-menu-item (click)="signatureToken(row)">
              Autenticação
            </button>

          </mat-menu>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row class="element-row" *matRowDef="let row; columns: displayedColumns;"
          (dblclick)="edit(row)"></tr>
    </table>

    <mat-paginator #paginator
                   [pageIndex]="configs.pageable.pageIndex"
                   [pageSize]="configs.pageable.pageSize"
                   [pageSizeOptions]="[20, 30, 40, 50, 60, 80, 100]"
                   [showFirstLastButtons]="true"></mat-paginator>

    <app-no-record [style.display]="!configs.inLoadingResults && configs.resultsLength == 0 ? '' : 'none'"
                   title="Nenhum componente encontrado.">
    </app-no-record>

  </mat-card>
</div>
