<mat-card-title>
  <div class="container-detail-toolbar">
    <mat-toolbar>
      <span>{{data?.title || 'Condição'}}</span>
    </mat-toolbar>
    <mat-progress-bar class="dialog-detail-progressbar" mode="indeterminate"
                      *ngIf="configs.inLoading"></mat-progress-bar>
  </div>
</mat-card-title>

<mat-dialog-content>
  <form [formGroup]="formGroup">
    <div class="container">

      <mat-form-field style="width: 100%">
        <mat-select placeholder="Condicional" formControlName="andOr">
          <mat-option>--</mat-option>
          <mat-option value="and">E campo</mat-option>
          <mat-option value="or">OU campo</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field style="width: 100%">
        <mat-select #fieldId placeholder="Campo" formControlName="fieldId" (selectionChange)="changeField($event.value)">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let field of message.fields" [value]="field.id">
            {{field.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.get('fieldId').hasError('required')">Informe o campo</mat-error>
      </mat-form-field>

      <mat-form-field style="width: 100%">
        <mat-select placeholder="Operador" formControlName="operator" (valueChange)="changeOperator($event)">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let ope of operators" [value]="ope">
            {{getOperatorDescription(ope)}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.get('operator').hasError('required')">Informe o operador</mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="condition.field === null || (condition?.field && condition.field.type !== 'BOOLEAN')">
        <input matInput type="text" [type]="inputFieldType"
               placeholder="Valor" formControlName="value" autocomplete="off">
        <mat-error *ngIf="formGroup.get('value').hasError('required')">Valor obrigatório</mat-error>
      </mat-form-field>

      <mat-form-field style="width: 100%" *ngIf="condition?.field && condition.field.type === 'BOOLEAN'">
        <mat-select placeholder="Valor" formControlName="value">
          <mat-option>--</mat-option>
          <mat-option value="true">verdadeiro / sim</mat-option>
          <mat-option value="false">falso / não</mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.get('value').hasError('required')">Valor obrigatório</mat-error>
      </mat-form-field>
    </div>

  </form>
</mat-dialog-content>
<mat-dialog-actions style="justify-content: flex-end">
  <button mat-button mat-dialog-close (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onConfirm()" [disabled]="formGroup.invalid || configs.inLoading">
    Confirmar
  </button>
</mat-dialog-actions>
