<app-dashboard-header [sidenav]="sidenav"></app-dashboard-header>
<mat-sidenav-container>

  <!--mode="side" opened -->
  <mat-sidenav #sidenav class="sidenav" mode="side" opened="true" [fixedInViewport]="true" [fixedTopGap]="64">

    <!---
    <mat-toolbar color="primary" class="mat-elevation-z2">
      Menu
    </mat-toolbar>
    -->

<!--(close)="sidenav.close()"-->

    <app-dashboard-resources [isMenu]="true" >

      <mat-divider></mat-divider>

      <mat-list-item (click)="onLogout(sidenav)">
        <mat-icon matListIcon>input</mat-icon>
        <h3 matLine>Logout</h3>
      </mat-list-item>

    </app-dashboard-resources>

  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
