.container {

  display: flex;
  flex-direction: column;
  margin: 20px;

}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-top: 8px;
}

mat-card {
  min-width: 800px;
  padding: 0px;
}

table {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
