<div class="container">

  <mat-card>

    <mat-toolbar>
      <span>Log de Eventos</span>
      <span class="spacer"></span>
      Atualizar:
      <button mat-icon-button (click)="refresh()">
        <mat-icon>refresh</mat-icon>
      </button>
    </mat-toolbar>

    <mat-progress-bar mode="indeterminate" *ngIf="configs.inLoadingResults"></mat-progress-bar>

    <mat-expansion-panel #filterPanel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Filtro
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="container-search">

        <form novalidate [formGroup]="searchForm" class="form-search">

          <div style="display: flex; flex-direction: row">
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Data início"
                     formControlName="dateHour" (dateChange)="changeDate($event);">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker type="datetime"></mat-datepicker>
            </mat-form-field>

            <mat-form-field style="padding-left: 10px">
              <input matInput [matDatepicker]="pickerFim" placeholder="Data fim" formControlName="dateHourEnd">
              <mat-datepicker-toggle matSuffix [for]="pickerFim"></mat-datepicker-toggle>
              <mat-datepicker #pickerFim></mat-datepicker>
            </mat-form-field>
          </div>

          <div style="display: flex; flex-direction: row">

            <mat-form-field>
              <mat-select placeholder="Componente" formControlName="componentId">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let component of components" [value]="component.id">
                  {{component.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field style="padding-left: 10px">
              <input matInput placeholder="Identificador" formControlName="identifier">
              <!-- <mat-icon matSuffix (click)="messageReset()" *ngIf="configs.search.message">clear</mat-icon>-->
            </mat-form-field>

          </div>

          <div style="display: flex; flex-direction: row">
            <mat-form-field style="width: 100%">
              <input matInput placeholder="Evento" [value]="configs.search.event?.name" readonly>
              <mat-icon matSuffix (click)="eventSearch()" class="cursor">search</mat-icon>
              <mat-icon matSuffix (click)="eventReset()" *ngIf="configs.search.event" class="cursor">clear</mat-icon>
            </mat-form-field>
          </div>

          <div style="display: flex; flex-direction: row">
            <mat-form-field style="width: 100%">
              <input matInput placeholder="Regra" [value]="configs.search.rule?.name" readonly>
              <mat-icon matSuffix (click)="ruleSearch()" class="cursor">search</mat-icon>
              <mat-icon matSuffix (click)="ruleReset()" *ngIf="configs.search.rule" class="cursor">clear</mat-icon>
            </mat-form-field>
          </div>

          <div style="display: flex; flex-direction: row">
            <mat-form-field style="width: 100%">
              <input matInput placeholder="Mensagem" [value]="configs.search.message?.name" readonly>
              <mat-icon matSuffix (click)="messageSearch()" class="cursor">search</mat-icon>
              <mat-icon matSuffix (click)="messageReset()" *ngIf="configs.search.message" class="cursor">clear</mat-icon>
            </mat-form-field>
          </div>

          <mat-form-field style="width: 100%;">
            <mat-chip-list #chipList [disabled]="!configs.search.message">
              <mat-chip *ngFor="let dataField of dataFields"
                        [selectable]="selectable"
                        [removable]="removable"
                        (dblclick)="editDataFieldSearch(dataField)">
                {{getExpression(dataField)}}
                <mat-icon matChipRemove *ngIf="removable" (click)="removeDataFieldFilter(dataField)">cancel</mat-icon>
              </mat-chip>
              <input [matChipInputFor]="chipList" placeholder="Campos da mensagem" readonly>
            </mat-chip-list>
            <mat-icon matSuffix class="cursor"
                      (click)="dataFieldSearch()"
                      *ngIf="configs.search.message">add</mat-icon>
          </mat-form-field>

        </form>

      </div>

      <mat-action-row>
        <div class="container-search-action">
          <button mat-button (click)="reset()" style="margin-right: 10px"
                  [disabled]="groupConfig.enabled">Limpar</button>
          <button mat-raised-button color="primary"
                  (click)="search()"
                  [disabled]="searchForm.invalid || groupConfig.enabled">Pesquisar</button>
        </div>
      </mat-action-row>

    </mat-expansion-panel>

    <div class="options-result-container">

      <mat-slide-toggle
        *ngIf="configs.search.done && configs.resultsLength > 0"
        [checked]="groupConfig.enabled"
        (toggleChange)="groupConfig.enabled = !groupConfig.enabled"
        style="margin-bottom: 10px">Agrupar dados utilizando o resultado da consulta</mat-slide-toggle>

      <div *ngIf="!groupConfig.enabled">
          <mat-form-field color="accent" style="width: 100%">
            <input matInput #filter (keyup)="applyFilter($event.target.value)" placeholder="Evento / Regra / Mensagem" autocomplete="off">
          </mat-form-field>
      </div>

      <div *ngIf="groupConfig.enabled"
           style="display: flex; flex-direction: row; align-items: baseline;">

          <mat-form-field style="width: 100%">
            <mat-chip-list #chipList>
              <mat-chip
                *ngFor="let group of groupConfig.selected"
                (removed)="removeGroup(group)">
                {{group}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                placeholder="Informe os agrupamentos"
                #groupByInput
                [formControl]="statisticCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="groupConfig.separatorKeysCodes"
                [matChipInputAddOnBlur]="groupConfig.addOnBlur"
                (matChipInputTokenEnd)="addGroup($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectGroup($event)">
              <mat-option *ngFor="let group of groupConfig.filteredGroups | async" [value]="group">
                {{group}}
              </mat-option>
            </mat-autocomplete>

          </mat-form-field>


            <mat-icon class="cursor"
                      *ngIf="groupConfig.selected?.length > 0"
                      (click)="removeAllGroups()">clear</mat-icon>
            <button mat-raised-button
                    color="primary"
                    style="margin-left: 10px;"
                    (click)="statistic()"
                    [disabled]="groupConfig.selected?.length === 0">Aplicar</button>

        </div>

    </div>

    <table mat-table #table [dataSource]="dataSource" matSort *ngIf="!groupConfig.enabled">

      <ng-container matColumnDef="occurrence">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ocorrência</th>
        <td mat-cell *matCellDef="let row" style="padding-right: 10px;">
          {{row.id.substring(16)}}
        </td>
      </ng-container>

      <ng-container matColumnDef="dateHour">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Data Hora</th>
        <td mat-cell *matCellDef="let row">
          {{row.dateHour | date: 'dd/MM/yy HH:mm:ss'}}
        </td>
      </ng-container>

      <ng-container matColumnDef="event">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Evento</th>
        <td mat-cell *matCellDef="let row">
          {{row.event?.name}}
        </td>
      </ng-container>

      <ng-container matColumnDef="rule">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Regra</th>
        <td mat-cell *matCellDef="let row">
          {{row.rule?.name}}
        </td>
      </ng-container>

      <ng-container matColumnDef="message">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Mensagem</th>
        <td mat-cell *matCellDef="let row">
          {{row.message?.name}}
        </td>
      </ng-container>

      <!-- actions -->
      <ng-container matColumnDef="actions">

        <th mat-header-cell *matHeaderCellDef style="width: 5px; justify-content: flex-end;">

        </th>

        <td mat-cell *matCellDef="let row; let i=index;">
          <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon aria-label="mais">more_vert</mat-icon>
          </button>

          <mat-menu #appMenu="matMenu">
            <button mat-menu-item (click)="view(row)">
              <mat-icon aria-label="Visualizar">open_in_new</mat-icon>
              Visualizar
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="eventView(row.eventId)">
              <mat-icon aria-label="Visualizar Evento">event_note</mat-icon>
              Evento
            </button>
            <button mat-menu-item (click)="ruleView(row.ruleId)">
              <mat-icon aria-label="Regra">query_builder</mat-icon>
              Regra
            </button>
            <button mat-menu-item (click)="messageView(row.messageId)">
              <mat-icon aria-label="Mensagem">message</mat-icon>
              Mensagem
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row class="element-row" *matRowDef="let row; columns: displayedColumns;"
          (dblclick)="view(row)"></tr>
    </table>

    <table mat-table [dataSource]="dataSourceGroup" matSort *ngIf="groupConfig.enabled && displayedColumnsGroup.length > 0">

      <ng-container matColumnDef="date" *ngIf="isColumnGroup('date')">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Data</th>
        <td mat-cell *matCellDef="let row" style="padding-right: 10px;">
          {{row.date | date: 'dd/MM/yy'}}
        </td>
      </ng-container>

      <ng-container matColumnDef="dateHour" *ngIf="isColumnGroup('dateHour')">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Data</th>
        <td mat-cell *matCellDef="let row" style="padding-right: 10px;">
          {{row.dateHour | date: 'dd/MM/yy HH'}}
        </td>
      </ng-container>

      <ng-container matColumnDef="component" *ngIf="isColumnGroup('component')">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Componente</th>
        <td mat-cell *matCellDef="let row" style="padding-right: 10px;">
          {{row.component?.name}}
        </td>
      </ng-container>

      <ng-container matColumnDef="identifier" *ngIf="isColumnGroup('identifier')">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Identificador</th>
        <td mat-cell *matCellDef="let row" style="padding-right: 10px;">
          {{row.identifier}}
        </td>
      </ng-container>

      <ng-container matColumnDef="event" *ngIf="isColumnGroup('event')">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Evento</th>
        <td mat-cell *matCellDef="let row">
          {{row.event?.name}}
        </td>
      </ng-container>

      <ng-container matColumnDef="rule" *ngIf="isColumnGroup('rule')">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Regra</th>
        <td mat-cell *matCellDef="let row">
          {{row.rule?.name}}
        </td>
      </ng-container>

      <ng-container matColumnDef="message" *ngIf="isColumnGroup('message')">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Mensagem</th>
        <td mat-cell *matCellDef="let row">
          {{row.message?.name}}
        </td>
      </ng-container>

      <ng-container matColumnDef="count" *ngIf="isColumnGroup('count')">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Qtd.</th>
        <td mat-cell *matCellDef="let row">
          {{row.count}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsGroup"></tr>
      <tr mat-row class="element-row" *matRowDef="let row; columns: displayedColumnsGroup;"></tr>
    </table>

    <mat-paginator #paginator
                   [pageIndex]="configs.pageable.pageIndex"
                   [pageSize]="configs.pageable.pageSize"
                   [pageSizeOptions]="[20, 30, 40, 50, 60, 80, 100]"
                   [showFirstLastButtons]="true"></mat-paginator>

    <app-no-record [style.display]="!configs.inLoadingResults && configs.resultsLength == 0 ? '' : 'none'"
                   title="Nenhum log encontrado.">
    </app-no-record>

  </mat-card>
</div>
