.container {

  display: flex;
  flex-direction: column;
  //margin-top: -10px;
  margin: 10px;

}

.container-graph {

  display: flex;
  flex-direction: row;

  /*display: flex;
  flex-direction: row;
  flex-basis: 0;
  flex-grow: 1;*/

}

.container-graph-item {

  display: flex;
  flex-direction: column;
  flex-basis: 0;
  //flex: 1 1 auto;
  flex-grow: 1;

}

.summary {

  display: flex;
  flex-direction: row;

  //flex-flow: row wrap;
  //margin-bottom: 20px;

}

.card {
  // position: relative;
  //width: 100%;

  margin: 10px;

  flex-basis: 0;
  //flex: 1 1 auto;
  flex-grow: 1;
}

.mat-card-header-text {
  padding: 0 16px;
  width: 100%;
}

.mat-card-subtitle {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-top: 8px;
}
