<div class="container">

  <div class="summary">


      <app-summary-item-card class="card"
        icon="message"
        title="Mensagens"
        [count]="countMessages">
      </app-summary-item-card>

      <app-summary-item-card class="card"
        icon="event_note"
        title="Eventos"
        [count]="countEvents">
      </app-summary-item-card>

      <app-summary-item-card class="card"
        icon="warning"
        title="Eventos de erro"
        [count]="countEventByTypeError">
      </app-summary-item-card>

      <app-summary-item-card class="card"
        title="Ações"
        count="0">
      </app-summary-item-card>


  </div>


  <div class="container-graph">

      <mat-card class="card">
        <mat-card-header>
          <mat-card-subtitle>
            Eventos por Tipo (hoje)
          </mat-card-subtitle>
          <span class="spacer"></span>
          <mat-spinner *ngIf="eventTypeChartModel.inLoading"
                     diameter="25"
                     strokeWidth="2"></mat-spinner>
          <button mat-icon-button
                  *ngIf="!eventTypeChartModel.inLoading"
                  (click)="loadByEventType()">
            <mat-icon>refresh</mat-icon>
          </button>
        </mat-card-header>
        <mat-card-content>
          <canvas style="min-width:0;  max-width: 100%;"
            baseChart *ngIf="eventTypeChartModel.done"
                  [data]="eventTypeChartModel.counts"
                  [labels]="eventTypeChartModel.eventTypes"
                  [chartType]="eventTypeChartModel.type"
                  [options]="eventTypeChartModel.options"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </mat-card-content>
       <!-- <mat-card-title>Tipos de eventos</mat-card-title>-->
      </mat-card>

      <mat-card class="card">
        <mat-card-header>
          <mat-card-subtitle>
            Top 5 Eventos de Erro (hoje)
          </mat-card-subtitle>
          <span class="spacer"></span>
          <mat-spinner *ngIf="eventErrorChartModel.inLoading"
                       diameter="25"
                       strokeWidth="2"></mat-spinner>
          <button mat-icon-button
                  *ngIf="!eventErrorChartModel.inLoading"
                  (click)="loadByEventError()">
            <mat-icon>refresh</mat-icon>
          </button>
        </mat-card-header>
        <mat-card-content>
          <canvas style="min-width:0;  max-width: 100%;"
                  baseChart *ngIf="eventErrorChartModel.done"
                  [data]="eventErrorChartModel.counts"
                  [labels]="eventErrorChartModel.eventName"
                  [chartType]="eventErrorChartModel.type"
                  [options]="eventErrorChartModel.options"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </mat-card-content>
      </mat-card>

  </div>

  <div class="container-graph">

    <mat-card class="card">
      <mat-card-header>
        <mat-card-subtitle>
          Top 5 Eventos (hoje)
        </mat-card-subtitle>
        <span class="spacer"></span>
        <mat-spinner *ngIf="eventChartModel.inLoading"
                     diameter="25"
                     strokeWidth="2"></mat-spinner>
        <button mat-icon-button
                *ngIf="!eventChartModel.inLoading"
                (click)="loadByEvent()">
          <mat-icon>refresh</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <canvas style="min-width:0;  max-width: 100%;"
                baseChart *ngIf="eventChartModel.done"
                [data]="eventChartModel.counts"
                [labels]="eventChartModel.eventName"
                [chartType]="eventChartModel.type"
                [options]="eventChartModel.options"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </mat-card-content>
    </mat-card>

    <mat-card class="card">
      <mat-card-header>
        <mat-card-subtitle>
          Top Eventos por Hora (últimas 12h)
        </mat-card-subtitle>
        <span class="spacer"></span>
        <mat-spinner *ngIf="dateHourEventChartModel.inLoading"
                     diameter="25"
                     strokeWidth="2"></mat-spinner>
        <button mat-icon-button
                *ngIf="!dateHourEventChartModel.inLoading"
                (click)="loadCountEventByDateHour()">
          <mat-icon>refresh</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <canvas style="min-width:0;  max-width: 100%;"
          baseChart *ngIf="dateHourEventChartModel.done"
                [datasets]="dateHourEventChartModel.data"
                [labels]="dateHourEventChartModel.labels"
                [options]="dateHourEventChartModel.options"
                [chartType]="dateHourEventChartModel.type"
                legend="true"></canvas>
      </mat-card-content>
    </mat-card>

  </div>

</div>
