mat-dialog {
  display: flex;
  flex-direction: column;
}

mat-dialog-content {
  width: 320px;
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-top: 8px;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 10px;

}

.container-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}


