<div class="login-container">

  <mat-card>
    <mat-card-title>
      <mat-toolbar color="primary">
        <span>Entrar</span>
        <span class="spacer"></span>
        <mat-spinner
          [diameter]="25"
          [strokeWidth]="2"
          *ngIf="configs.inLoading"></mat-spinner>
      </mat-toolbar>
    </mat-card-title>

    <mat-card-content>
      <form (submit)="onSubimit()"  [formGroup]="loginForm" autocomplete="off">
        <mat-form-field>
          <input matInput type="text" placeholder="Usuário" formControlName="identifier" autocomplete="off">
          <mat-error *ngIf="identifier.hasError('required')">Informação obrigatória</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Senha"  autocomplete="false" formControlName="password"
                 [type]="configs.hidePassword ? 'password' : 'text'">
          <mat-icon matSuffix (click)="configs.hidePassword = !configs.hidePassword">{{configs.hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error *ngIf="password.hasError('required')">Informação obrigatória</mat-error>
          <mat-error *ngIf="password.hasError('minlength')">A senha dever ter no mínimo 6 caracteres</mat-error>
          <mat-error *ngIf="password.hasError('maxlength')">A senha dever ter no máximo 8 caracteres</mat-error>
        </mat-form-field>

        <mat-slide-toggle [checked]="authService.keepLogin" (change)="onKeepLogin()">Manter conectado</mat-slide-toggle>

        <button type="submit" mat-button color="primary" style="margin-top: 20px" [disabled]="loginForm.invalid">Confirmar</button>

      </form>
    </mat-card-content>

  </mat-card>

</div>
