// Import library functions for theme creation.
@import '~@angular/material/theming';

// Include non-theme styles for core.
@include mat-core();

// Define your application's custom theme.
$primary: mat-palette($mat-red);
$accent:  mat-palette($mat-red, 700);
$theme: mat-light-theme($primary, $accent);

// Include theme styles for Angular Material components.
@include angular-material-theme($theme);


html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

app-login .mat-spinner circle {
  stroke: #fff;
}

.spacer {
  flex: 1 1 auto;
}

mat-spinner {
  margin-left: 15px;
}

/* Filter */
.filter-result-container {
  min-height: 56px;
  max-height: 56px;
  display: flex;
  align-items: center;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
  border-bottom: 1px solid transparent;
}

.container-detail-toolbar {
  margin: -24px -24px 0 -24px;
  width: auto;
}

.no-results {
  display: flex;
  justify-content: center;
  padding: 14px;
  font-size: 14px;
  font-style: italic;
}

.spinner {
  margin: 30px auto 0 auto;
}

.cursor {
  position: relative;
  cursor: Pointer;
}

.element-row {
  position: relative;
  cursor: Pointer;
}

.element-row:hover {
  background: rgb(245, 245, 245);
  cursor: Pointer;
}

.selected-row {
  background: rgb(245, 245, 245);
}

.success {
  color: green;
}

.warn {
  color: orange;
}

.error {
  color: rgb(206, 0, 0);
}
