
<mat-card-title>
  <div class="container-detail-toolbar">
    <mat-toolbar>
      <span>{{data.title || 'Mensagem'}}</span>
      <span class="spacer"></span>
      <mat-spinner [diameter]="25" [strokeWidth]="2" *ngIf="configs.inLoading"></mat-spinner>
    </mat-toolbar>
    <mat-progress-bar class="dialog-detail-progressbar" mode="indeterminate" *ngIf="configs.inLoading"></mat-progress-bar>
  </div>
</mat-card-title>

<mat-dialog-content>
  <form #form="ngForm" [formGroup]="formGroup">
    <mat-tab-group>
      <mat-tab label="Dados">
        <div class="container">
          <mat-form-field>
            <input matInput type="text" placeholder="Nome" formControlName="name" autocomplete="off" [readonly]="data.view">
            <mat-error *ngIf="formGroup.get('name').hasError('required')">Nome obrigatório</mat-error>
            <mat-error *ngIf="formGroup.get('name').hasError('minlength')">O nome deve ter entre 3 e 60 caracteres</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" placeholder="Descrição" formControlName="description"
                   autocomplete="off" [readonly]="data.view">
          </mat-form-field>
          <mat-form-field style="width: 100%">
            <mat-select placeholder="Grupo" disabled="true">
              <mat-option>--</mat-option>
              <mat-option>
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-checkbox  formControlName="registryLog">Registrar no Log</mat-checkbox>
        </div>
      </mat-tab>
      <mat-tab label="Campos">

        <div class="container">

          <div class="container-row" style="align-items: baseline; padding-top: 10px;" *ngIf="false">
            <mat-form-field color="accent" style="width: 100%;">
              <input matInput  [formControl]="filter" placeholder="Filtro" autocomplete="off">
            </mat-form-field>
          </div>

          <div class="table-scroll">
            <table mat-table #table matSort [dataSource]="dataSource" class="mat-cell" disabled="true">

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
                <td mat-cell *matCellDef="let row">{{ row.name }}</td>
              </ng-container>

              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</th>
                <td mat-cell *matCellDef="let row">{{ row.type | lowercase}}</td>
              </ng-container>

              <ng-container matColumnDef="decimalPoint">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Decimal</th>
                <td mat-cell *matCellDef="let row">{{ row.type === 'NUMBER' ? row.decimalPoint ? 'sim' : 'não' : '' }}</td>
              </ng-container>

              <ng-container matColumnDef="actions">

                <th mat-header-cell *matHeaderCellDef style="width: 5px; justify-content: flex-end;">
                  <button mat-icon-button (click)="add()" *ngIf="!data.view">
                    <mat-icon aria-label="novo">add</mat-icon>
                  </button>
                </th>

                <td mat-cell *matCellDef="let row; let i=index;">
                  <button mat-icon-button [matMenuTriggerFor]="appMenu" *ngIf="!data.view">
                    <mat-icon aria-label="mais">more_vert</mat-icon>
                  </button>

                  <mat-menu #appMenu="matMenu">
                    <button mat-menu-item (click)="edit(row)">
                      <mat-icon aria-label="Edit">edit</mat-icon>
                      Alterar
                    </button>

                    <button mat-menu-item (click)="delete(row)" >
                      <mat-icon aria-label="Delete">delete</mat-icon>
                      Excluir
                    </button>
                  </mat-menu>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"
                       (dblclick)="edit(row)"></tr>

            </table>
          </div>

        </div>
      </mat-tab>
    </mat-tab-group>
  </form>
</mat-dialog-content>
<mat-dialog-actions style="justify-content: flex-end">
  <button mat-raised-button color="primary" (click)="onNoClick()" *ngIf="data.view">Ok</button>

  <button mat-button mat-dialog-close (click)="onNoClick()" *ngIf="!data.view">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSubmit()"
          [disabled]="formGroup.invalid || configs.inLoading || configs.inSaving || message.fields.length == 0"
          *ngIf="!data.view">
    Salvar</button>
</mat-dialog-actions>
