mat-dialog {
  display: flex;
  flex-direction: column;
}

mat-dialog-content {
  width: 500px;
  height: 400px;
}

.table-scroll {
  height: 320px;
  overflow: auto;
}

table {
 width: 100%;
}

.container-form {
  display: flex;
  flex-direction: row;
  padding-bottom: 15px;
  font-size: 14px;
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-top: 8px;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 10px;

}

.container-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}


